header{
    min-width: 600px;
}

.bg-a0{
    background-color: #FBF8F1;
}
.bg-a1{
    background-color: #E6EAE9;
}
.bg-a2{
    background-color: #C4CCCF;
}
.bg-a3{
    background-color: #A7C2D3;
}
.bg-a4{
    background-color: #92A1A6;
}
.bg-a5{
    background-color: #6C8693;
}
.divs{
    display: none;
}
.icos{
    color:#6C8693 ;
}


#menu{
    padding-top: 80px;
    width: 180px;
    min-height: 100vh;
}
#pag{
    padding-top: 80px;
    padding-left: 3%;
    width: 76%;
    min-width: 100vh;
}
